EXPO_PUBLIC_API_URL=https://agsyba.com
EXPO_PUBLIC_MEDUSA_API_URL=https://admin.agsyba.com
EXPO_PUBLIC_DEFAULT_REGION=ae
EXPO_PUBLIC_REVERSE_GEOCODING_URL=https://nominatim.openstreetmap.org/reverse
EXPO_PUBLIC_GEOCODING_USER_AGENT=AGSYBA/1.0
